.weather[data-weather] {
	display: none;
	position: absolute;
	height: 20px;
	width: 100%;
	z-index: 998;
	top: 0;
	left: 0;
	background-color: #ddd;

	ul {
		margin: 0;
		padding: 0;
		display: table;
		width: 100%;

		li {
			display: table-cell;
  		text-align: center;
			margin-right: 7px;
			white-space: nowrap;
		}
	}
}
