.weather[data-weather] {
	display: block;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 40px;
	width: 100%;
	z-index: 998;
	top: 0;
	left: 0;
	background-color: #00ff00;
}
